<!DOCTYPE html>
     <html>
        <head>
            <link rel="stylesheet" type="text/css" href= "/static/main.css"/>
            <title>Python Codes</title>
            
        </head>

        </style>
        <body>
            <div><h2 class="headi">Welcome To <span style="color:green">Global Code</span></h2>
            <a href="https://github.com/glblcd"><img class="pad" src="/static/download.png" height=50px></a>
            </div> 
            <div style="text-align:center">
                <a style="font-size:70px;text-align:center" class="link" href="{{url_for('mainp')}}">Click here to create an account</a>
            </div>
            
        </body>
     </html>
